#
# /etc/ilenia.rc: ilenia (8) configuration 
#

# POST_PKGADD = ""
# ASK_FOR_UPDATE = "Yes" or "No"
# NOT_FOUND_POLICY = "Ask" or "Stop" or "Nevermind"
# REPOS_HIERACHY = ppc/core opt/core x86/core 

# End of file
